.backArrow,
.nextArrow {
    position: absolute;
    top: 40%;
    width: auto;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.nextArrow {
    right: 0;
}

.dot {
    height: 11px;
    width: 11px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    margin: 0 2px;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #7AA5BA;
}

.circle {
    position: absolute;
    bottom: 3%;
    left: 0%;
    right: 0%;
}

.childText {
    position: absolute;
    top: 48%;
    left: 0%;
    right: 0%;
    color: #fff;
    width: auto;
    font-family: URWDIN-Regular !important;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 50px;
}

.parentBox {
    position: relative;
}

.customanimate {
    animation: customanimate;
    animation-duration: 1.5s;
}

@keyframes customanimate {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}