.box {
    box-shadow: 0px 2px 10px 2px #ddd;
    padding: 10px;
    margin: 0px auto 25px;
    border-radius: 3px;
}
.imgdiv {
    
    margin: 10px;
    height: 120px;
    width: 120px;
}
.imgdiv img {
    border-radius: 400px;
    height: 100px;
    margin-top: 10px;
}
.title {
    font-size: 13px;
    font-weight: bold;
}
.hr {
    clear: both; 
    margin:5px 0;
}
.right {
    text-align: right;
}
.reorder{
    color: #fff;
    font-weight: bold;
    margin: 4px 0 0px 15px;
    float: left;
    padding: 5px 20px;
    border-radius: 4px;
    background: #17344c;
}
.tdate {
    margin: 8px 5px 0 0;
    float: right;
    font-weight: bold;
}